/venv/
/.idea
/.pypirc
/dist/
/vtb_api_token.json
/src/t.py
/src/vtb_api_token.json
/src/requestsbankrko.egg-info/
/requestsbankrko.log
/.env
src/__pycache__
tests/__pycache__
__pycache__ 
/PSBToken.txt
/VTBToken.txt
/tests/cityesjson/
/proxies.json
